body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.left-header {
    font-size: 24px;
    font-weight: bold;
}

.right-links {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    
}

.top {
    display: flex;    
    justify-content: space-between;
}

.header {
    background-color: #1F2937;
    padding: 24px;
    display: flex;
    color: #F9FAF8;
    font-size: 18px;
}